.textarea {
  width: 992px;
  height: 250px;
  border: 1px solid #1D628B;
  border-radius: 5px;
  background-color: #F8F9FB;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  font-size: 20px;
  color: #1E2631;
}